@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url('sun.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.container{
    display: grid;
    place-items: center;
    height: 100vh;
}

.glassmorphism{
    width: 520px;
    height: 520px;
    position: relative;
    margin-top: 50px;
}

.weather-box{
    background: rgba(255,255,255,0.3);
    padding: 20px;
    width: 500px;
    border-radius: 15px;
    border-left: 4px solid rgba(255,255,255,0.3);
    border-top: 4px solid rgba(255,255,255,0.3);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family: 'Roboto', serif;
}

.weather-box h1{
    font-size: 100px;
    text-align: left;
    margin-top: 0px;
    color: transparent;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.weather-box p{
    font-size: 30px;
    color: #fff;
}

.location{
    color: rgb(131, 98, 98);
}

.drop{
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
    position: absolute;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.drop-1{
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
}

.drop-2{
    height: 100px;
    width: 100px;
    bottom: 200px;
    left: 80px;
    z-index: -1;
}

.drop-3{
    height: 120px;
    width: 120px;
    bottom: 220px;
    right: -60px;
}

.drop-4{
    height: 60px;
    width: 60px;
    top: -26px;
    right: 75px;
}